In [1]:
from signalslite.data_downloader import update_daily_data
from signalslite.primary_features import generate_primary_features
from signalslite.secondary_features import update_secondary_features
from signalslite.scale_data import scale_data
from signalslite.merge_targets import prepare_merged_data
from signalslite.constants import Directories

In [2]:
from signalslite.credentials import EODHD_API_KEY

In [3]:
if __name__ == "__main__":
    dir_config = Directories()
    dir_config.set_data_dir("../data")

    print(dir_config)
    # update_daily_data(dir_config.DATA_DIR, dir_config.DAILY_DATA_DIR, EODHD_API_KEY=EODHD_API_KEY)
    # generate_primary_features(dir_config)
    # update_secondary_features(dir_config)
    # scale_data(dir_config, FROM_SCRATCH=True)
    prepare_merged_data(dir_config)

<signalslite.constants.Directories object at 0x7f230d2d0760>

In [4]:
import pandas as pd

In [5]:
_tmp = pd.read_parquet("/mnt/d/nmr/signalslite/data/02_primary_features/2023/08/2023-08-24.parquet")
_tmp

,feature_1_sma_5,feature_1_sma_10,feature_1_sma_20,feature_1_sma_40,feature_1_sma_50,feature_1_sma_100,feature_1_sma_200,feature_1_ema_5,feature_1_ema_10,feature_1_ema_20,...,feature_1_cci_50,feature_1_cci_100,date,date_str,bloomberg_ticker,close,volume,open,high,low
3309,19712.00000,32800.0000,34912.00000,32800.0000,31872.0000,36032.0000,24672.0000,19712.00000,32800.0000,34912.00000,...,-39.781250,-33.062500,2023-08-24,2023-08-24,1580 TT,124.000000,99781.0,123.500000,125.000000,123.000000
3135,19712.00000,32560.0000,34176.00000,32720.0000,31872.0000,35008.0000,24576.0000,19712.00000,32560.0000,34176.00000,...,-39.875000,-32.281250,2023-08-24,2023-08-24,2430 TT,38.849998,129477.0,38.500000,39.099998,38.500000
4853,17760.00000,32576.0000,34176.00000,32736.0000,31872.0000,35008.0000,24576.0000,17760.00000,32576.0000,34176.00000,...,-39.750000,-32.187500,2023-08-24,2023-08-24,1707 TT,153.000000,241943.0,152.000000,154.000000,152.000000
631,131.62500,9904.0000,33472.00000,31840.0000,29936.0000,35008.0000,24448.0000,131.62500,9904.0000,33472.00000,...,-37.625000,-32.062500,2023-08-24,2023-08-24,1519 TT,280.500000,20009836.0,285.000000,301.500000,277.500000
3960,142.25000,9912.0000,25008.00000,31776.0000,29936.0000,35008.0000,24352.0000,142.25000,9912.0000,25008.00000,...,-37.843750,-32.218750,2023-08-24,2023-08-24,1513 TT,115.000000,29485126.0,111.500000,117.000000,110.500000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
957,29.28125,76.6875,47.00000,73.9375,69.0000,84.8750,87.4375,29.28125,76.6875,47.00000,...,-42.218750,-22.562500,2023-08-24,2023-08-24,WW US,9.320000,2142300.0,9.710000,9.770000,9.210000
7409,41.43750,76.7500,51.06250,76.3750,70.5000,85.8750,87.5000,41.43750,76.7500,51.06250,...,30.765625,8.460938,2023-08-24,2023-08-24,ZBH US,114.320000,1878698.0,114.889999,115.330002,113.989998
7052,84.56250,78.3125,62.25000,82.8750,75.0625,87.0625,88.3750,84.56250,78.3125,62.25000,...,130.250000,53.750000,2023-08-24,2023-08-24,ZBRA US,265.920013,246300.0,270.380005,272.700012,265.920013
6220,86.25000,67.4375,60.71875,81.5625,74.2500,87.1875,88.4375,86.25000,67.4375,60.71875,...,-39.875000,-21.453125,2023-08-24,2023-08-24,WUW GR,15.340000,6592.0,15.380000,15.500000,15.260000
3079,85.68750,69.5000,61.46875,77.6250,74.6875,87.2500,87.9375,85.68750,69.5000,61.46875,...,-34.687500,-19.000000,2023-08-24,2023-08-24,ZZZ CN,23.580000,31908.0,23.930000,23.930000,23.490000